<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="com.fffffff.aidlserver.permission.MyService" />

    <application>

        <service
            android:name=".MyService"
            android:exported="true"
            android:permission="com.fffffff.aidlserver.permission.MyService">
            <intent-filter>
                <action android:name="android.intent.action.MY_SERVICE_CENTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>
