<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 自定义权限申明-->
    <permission android:name="com.fffffff.aidlserver.permission.MY_SERVICE" />

    <application>

        <!-- 定义 service -->
        <!-- 应用自定义权限 -->
        <!-- 定义隐式启动的 action -->
        <!-- 设置 exported = true，可被外部调用 -->
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.fffffff.aidlserver.permission.MY_SERVICE">
            <intent-filter>
                <action android:name="com.fffffff.aidlserver.action.MY_SERVICE_CENTER" />
            </intent-filter>
        </service>

    </application>

</manifest>
